[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DescriptiveRepresentationCalculator"]
	path = DescriptiveRepresentationCalculator
	url = https://github.com/cjerzak/descriptiverepresentationcalculator-software
	subdir = DescriptiveRepresentationCalculator
